.input {
  border-width: 1px;
  border-style: solid;
  border-color: #d1d5db;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.375rem; 
  width: 100%;
}
